.root {
  height: 100%;
  width: 100%;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  outline: none;

  &:hover {
    background-color: transparent;
    box-shadow: none;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.clicked {
  &:focus {
    outline: none;
  }
}

/* Default isOpen class - no styles yet */
.isOpen {
}
