@import '../../../styles/customMediaQueries.css';

.root {
}

.confirmChangesSection {
  display: none;
  flex-direction: column;
  margin-bottom: 0;
  padding: 0;
}

.confirmChangesSectionVisible {
  display: flex;
  margin-bottom: 60px;
}

.emailStyle {
  font-weight: var(--fontWeightBold);
  word-wrap: break-word;
}

.helperLink {
  composes: a from global;
  color: var(--colorGrey700);
  font-weight: var(--fontWeightMedium);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  @media (--viewportMedium) {
    margin: 0;
  }
}

.confirmChangesTitle {
  margin-top: 0;
  margin-bottom: 13px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.confirmChangesInfo {
  margin-top: 0;
  margin-bottom: 37px;

  @media (--viewportMedium) {
    margin-bottom: 48px;
  }
}

.bottomWrapper {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 40px;
  }
}

.submitButton {
  background-color: var(--colorFail);

  &:focus,
  &:hover {
    background-color: var(--colorFailDark);
  }
  &:disabled {
    background-color: var(--colorGrey100);
  }
}

.error {
  color: var(--colorFail);
  margin-top: 0;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}
