@import '../../styles/customMediaQueries.css';

.page :global(section#contact .sectionContent),
.contactDetails {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1.5rem 6rem;
  align-items: center;
}

.page :global(section#contact .sectionDetails) {
  min-width: 0;
  margin: 0;
}

.contactDetails {
  display: grid;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.contactLabel {
  font-weight: 700;
}

.page :global(section#contact .pbSectionTitle) {
  font-size: 32px;
  line-height: 1.33;
}

.page :global(section#contact .pbSectionTitle),
.page :global(section#contact .pbSectionDescription) {
  text-align: center;
}

.contactDetails > div + div {
  margin-top: 24px;
}

@media (--viewportMedium) {
  .page :global(section#contact .sectionContent),
  .contactDetails {
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-items: center;
  }
}
