@import '../../../styles/customMediaQueries.css';

.root {
  position: relative;
  display: inline-block;
}

.fieldGroup {
  margin: 0;
  padding: 0;
  border: none;
}

.genreFieldGroup {
  /* Keep genre labels on one line by giving popup more width */
  min-width: 420px;
  max-width: 560px;
}

.fieldGroupPlain {
  margin: 0;
  padding-left: 12px;
  padding-bottom: 6px;
  border: none;

  @media (--viewportMedium) {
    padding: 3px 0 29px 12px;
    padding: 4px 0 4px 12px;
  }
}

.accessibilityLegend {
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.list {
  margin: 0;
}

.twoColumnList {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 24px;
}

.textOptionRoot {
  position: relative;
  display: inline-block;
}

.textOptionInput {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.textOptionLabel,
.textOptionLabelSelected {
  composes: marketplaceListingAttributeFontStyles from global;
  display: inline-block;
  padding: 2px 0;
  margin: 0;
  color: var(--colorGrey700);
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

.textOptionLabelSelected {
  color: var(--colorBlack);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.textOptionLabel:hover,
.textOptionLabelSelected:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  color: var(--colorBlack);
}

.textOptionInput:focus-visible + .textOptionLabel,
.textOptionInput:focus-visible + .textOptionLabelSelected {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.item {
  padding: 4px 0 2px 0;

  /* Fix broken multi-column layout in Chrome */
  page-break-inside: avoid;

  @media (--viewportMedium) {
    padding: 4px 0;
  }
}
