@import '../../../../styles/customMediaQueries.css';

.root {
  display: inline-block;

  &:first-child .link {
    padding-left: 0px;
  }

  &:last-child .link {
    padding-right: 0px;
  }
}

.link {
  /* Remove top padding so icons align with other footer columns */
  padding: 0 10px 12px;

  &:hover {
    color: var(--colorGrey700);
  }

  @media (--viewportMedium) {
    padding: 0 12px 12px;
  }
}

.media {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0;
}

.text {
  width: 100%;
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}
