@import '../../../styles/customMediaQueries.css';

.root {
}

.startBox {
  padding: 0 24px;
  margin-top: 24px;

  @media (--viewportMedium) {
    padding: 0;
    margin-top: 72px;
  }

  @media (--viewportLarge) {
    margin-top: 0;
  }
}

.startTitle {
  composes: marketplaceDefaultFontStyles from global;
  font-weight: var(--fontWeightSemiBold);
  margin: 0 0 18px 0;
  color: var(--colorGrey900);
}
